.flex-Col-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0;
  width: 100%;
}

textarea {
  height: 150px;
  width: calc(100% - 6px);
  resize: none;
  margin-top: 10px;
  font-size: 16px;
}
.inputPrice {
  width: 100px;
  padding: 5px 0;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.inputTitle {
  padding: 5px;
  font-size: 16px;
  margin-top: 10px;
  width: calc(100% - 14px); /* border : 2 + padding: 5 */
}

.inputPhoto {
  padding: 5px 0;
  font-size: 14px;
  margin-top: 10px;
}

.publishBtn {
  color: white;
  background-color: #4183d7;
  height: 40px;
  font-size: 16px;
  border: none;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  border-radius: 5px;
}

.title {
  font-weight: bold;
  border-bottom: 3px solid #f56b2a;
  text-align: center;
}

.formPublish label {
  text-align: left;
  font-weight: bold;
}

.flexPublish {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
