.flex-Col-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.flex-Col-start label {
  text-align: left;
}

.flex-Col-start input {
  border-radius: 5px;
}

textarea {
  height: 150px;
  width: 450px;
  resize: none;
  margin-top: 10px;
  font-size: 16px;
}
.inputPrice {
  width: 100px;
  padding: 5px 0;
  font-size: 16px;
}

.inputTitle {
  padding: 5px 0;
  font-size: 16px;
}

.publishBtn {
  color: white;
  background-color: #4183d7;
  height: 40px;
  font-size: 16px;
  border: none;
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.h-650 {
  height: 650px;
}

.w-450 {
  width: 450px;
}

.title {
  font-weight: bold;
  border-bottom: 3px solid #f56b2a;
  text-align: center;
}

form label {
  text-align: left;
  font-weight: bold;
}

form input {
  text-align: left;
  margin-top: 10px;
}
