.containerSignUp {
  height: 720px;
  width: 1024px;
  margin: 0 auto;
}

.signUp {
  height: 550px;
  display: flex;
  flex: 1;
}

.signLeft {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 500px;
}

.signRight {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: flex-start;
}

.signBtn {
  color: white;
  border-radius: 5px;
  background-color: #4183d7;
  font-size: 20px;
  height: 40px;
  width: 100%;
}

.formSignUp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.formContainer {
  width: 430px;
}

.signUpInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 2px solid #e4e8ec;
}

.flexPass {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  width: 500px;
}

.passLeft,
.passRight {
  width: 220px;
}
.passLeft p {
  font-size: 16px;
}

.inputSU {
  width: 400px;
  height: 35px;
}

.inputPass {
  width: 160px;
  height: 35px;
}
.formSignUp input {
  border-radius: 5px;
  padding: 0 10px;
}

.passRight input {
  width: 180px;
}

.flexBtn {
  margin-top: 30px;
  width: 100%;
}

.inputCdg {
  margin-top: 20px;
}

.flexBtn h2 {
  text-align: center;
}
