/* HEADER */

header {
  width: 100vw;
}
.menu {
  display: flex;
  justify-content: space-between;
  line-height: 80px;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul li {
  margin-right: 20px;
  display: flex;
}

.menu ul img {
  margin-right: 20px;
  display: flex;
}

.logo {
  color: #f56b2a;
  font-weight: bold;
  font-size: 30px;
}

.connect {
  display: flex;
  align-items: center;
}
