.flexPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.navPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
}

.navPage img {
  cursor: pointer;
}

.numPage {
  padding: 0 5px;
  font-size: 19px;
  color: #336699;
  cursor: pointer;
}

.activePage {
  background-color: #f56b2a;
  color: white;
}
